@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage

@inject IJSRuntime JS
@inject ProtectedLocalStorage LocalStorage
@inject NavigationManager NavManager

<!-- Profile dropdown -->
<div class="flex sm:justify-end lg:flex-1 lg:items-center">
    <button type="button"
            class="bg-white p-1 rounded-full text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
        <span class="sr-only">View notifications</span>
        <!-- Heroicon name: outline/bell -->
        <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
             aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
        </svg>
    </button>
    <ThemeToggle />
    
        <button type="button" style="border-radius: 13px !important"
                class="max-w-xs bg-white rounded-full flex items-center text-sm focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 lg:p-2 lg:rounded-md lg:hover:bg-gray-50"
                id="user-menu-button" aria-expanded="false" aria-haspopup="true" @onclick="toggleDropdownMenu">
            <img class="h-8 w-8 rounded-full" src="@currentUser.Picture" alt="User profile picture">
            <span class="hidden ml-3 text-gray-700 text-sm font-medium lg:block">
                <span class="sr-only">
                    Open user
                    menu for
                </span>
                @currentUser.FirstName @currentUser.LastName
            </span>
            <!-- Heroicon name: solid/chevron-down -->
            <svg class="hidden flex-shrink-0 ml-1 h-5 w-5 text-gray-400 lg:block" xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd"
                      d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                      clip-rule="evenodd" />
            </svg>
        </button>
    

    <div class="drop-shadow-lg">
        <div style="border-radius: 13px !important"
            class=" origin-top-right @dropdownMenuClass absolute right-0 mt-2 sm:mt-10 lg:mt-38 mr-6 w-48 py-2 bg-white focus:outline-none"
             role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
            <!-- Active: "bg-gray-100", Not Active: "" -->
            <a href="/admin" class="block px-4 py-2 text-sm text-gray-700 transition-all rounded-lg mx-2 hover:text-primary-900 ring-1 ring-transparent hover:bg-primary-100" role="menuitem" tabindex="-1"
               id="user-menu-item-0"
               @onclick="toggleDropdownMenu">Dashboard</a>
            <a class="block px-4 py-2 text-sm text-gray-700 transition-all rounded-lg mx-2 hover:text-primary-900 ring-1 ring-transparent hover:bg-primary-100" role="menuitem" tabindex="-1"
               id="user-menu-item-1"
               @onclick="toggleDropdownMenu">Settings</a>
            <a class="block cursor-pointer px-4 py-2 text-sm text-gray-700 transition-all rounded-lg mx-2 hover:text-primary-900 ring-1 ring-transparent hover:bg-primary-100" role="menuitem"
               @onclick="logOut"
               tabindex="-1" id="user-menu-item-2">Logout</a>
        </div>
    </div>

</div>

@code {
    [Parameter] public User currentUser { get; set; }

    // Dropdown for profile code
    [Parameter] public string dropdownMenuClass { get; set; } = "dropdown";

    private void toggleDropdownMenu()
    {
        dropdownMenuClass = dropdownMenuClass == "dropdown" ? "dropdown show" : "dropdown";
    }

    // Log out functionality
    private async void logOut()
    {
        await LocalStorage.DeleteAsync("CURRENT_USER");
        NavManager.NavigateTo("/", forceLoad: true);
    }

}
