<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Primary Meta Tags -->
    <title>Maxula - Next Level Tech</title>
    <meta name="title" content="Maxula Group - your trust partner" />
    <meta name="description" content="Our mission is to revolutionize the way businesses operate by providing cutting-edge solutions." />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://maxula.azurewebsites.net/" />
    <meta property="og:title" content="Maxula Group - your trust partner" />
    <meta property="og:description" content="Our mission is to revolutionize the way businesses operate by providing cutting-edge solutions." />
    <meta property="og:image" content="https://i.ibb.co/v4QNQRV/og-Site-View.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="https://maxula.azurewebsites.net/" />
    <meta property="twitter:title" content="Maxula Group - your trust partner" />
    <meta property="twitter:description" content="Our mission is to revolutionize the way companies operate by providing cutting-edge solutions." />
    <meta property="twitter:image" content="https://i.ibb.co/v4QNQRV/og-Site-View.jpg" />

    <!-- Meta Tags end -->

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="app.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link href="app.min.css" rel="stylesheet" /> @* This is for Compiled Tailwind CSS  *@
    <link href="Maxula-project.styles.css" rel="stylesheet" />  @* This is for generated scoped css  *@

    <link href="_content/Syncfusion.Blazor.Themes/material3.css" rel="stylesheet" />
    <script src="_content/Syncfusion.Blazor.Core/scripts/syncfusion-blazor.min.js" type="text/javascript"></script>

    <script defer src="app.js" type="text/javascript"></script>

    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="new InteractiveServerRenderMode(prerender: false)" />
    <script src="_framework/blazor.web.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tsparticles-confetti@2.12.0/tsparticles.confetti.bundle.min.js"></script>
</body>

</html>