<button
    class="bg-primary-500 hover:bg-primary-700 transition ease-in-out duration-300 text-white font-bold py-5 px-5 rounded-full shadow-lg fixed right-4 md:right-8 bottom-4 md:bottom-8 shadow-primary-400">
    <svg fill="#FFFFFF" height="32px" width="32px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve">
        <g>
            <g>
                <g>
                    <path d="M362.667,288V96c0-29.397-23.936-53.333-53.333-53.333h-256C23.936,42.667,0,66.603,0,96v320
				c0,4.309,2.603,8.213,6.592,9.856c1.323,0.555,2.709,0.811,4.075,0.811c2.773,0,5.504-1.088,7.552-3.115l82.219-82.219h208.917
				C338.731,341.333,362.667,317.397,362.667,288z" />
                    <path d="M458.667,85.333h-64C388.779,85.333,384,90.112,384,96v192c0,41.173-33.493,74.667-74.667,74.667
				c-5.888,0-10.667,4.779-10.667,10.667c0,5.888,4.779,10.667,10.667,10.667h102.251l82.219,82.219
				c2.027,2.027,4.757,3.115,7.531,3.115c1.365,0,2.752-0.256,4.075-0.811c3.989-1.643,6.592-5.547,6.592-9.856v-320
				C512,109.269,488.064,85.333,458.667,85.333z" />
                </g>
            </g>
        </g>
    </svg>
</button>
