<div class="wrapper animate-fade-up animate-delay-[2s]" style="max-width:100vw;overflow:hidden;">
    <h1 style="font-weight: 600; text-align: center;padding:2vh 0 2vh 0;">Certified by experts</h1>
    <div class="slider backdrop-blur-sm ring-1 ring-black/5">
        <div class="slide-track">
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/1.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/2.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/3.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/4.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/5.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/6.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
            <div class="slide">
                <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/557257/7.png"
                     height="100"
                     width="250"
                     alt="" />
            </div>
        </div>
    </div>
</div>


@code {

}
