<div class="animate-fade-up animate-delay-[2s] pointer-events-none flex overflow-hidden max-w-2xl py-5 mx-auto rounded-3xl bg-white/30 backdrop-blur-sm shadow-sm ring-1 ring-black/5">
   <OneLineMarquee />
</div>